---
import Layout from "../layouts/Layout.astro";
import Section from "../components/shared/section";
import Navbar from "../components/navbar";
import InitialContent from "../components/about-components/initial-content";
import WhoWeAreContent from "../components/about-components/whoweare-content";
import WhyWeDoItContent from "../components/about-components/whywedoit-content";
import TeamContent from "../components/about-components/team-content";
import Footer from "../components/footer";
---

<Layout title="Atix Digital">
  <main>
    <Section
      heightMode="h-fit"
      contentHeight="1203px"
      additionalBg="images/isotipos-1.svg"
      additionalStyles={{
        backgroundRepeat: "no-repeat",
        backgroundSize: "48%",
        backgroundPositionY: "-140px",
        backgroundPositionX: "-200px"
      }}
      background="backgrounds/aboutus-background.png"
    >
      <Navbar mode="dark"/>
      <InitialContent />
    </Section>
    <Section
      heightMode="h-auto"
      contentHeight="100%"
      background="backgrounds/dots-clean.svg"
      backgroundColor="white"
    >
      <WhoWeAreContent />
    </Section>
    <Section
      heightMode="h-auto"
      contentHeight="815px"
      background="backgrounds/whywedoit-background.svg"
    >
      <WhyWeDoItContent />
    </Section>
    <Section
      heightMode="h-auto"
      contentHeight="740px"
      background=""
      backgroundColor="#F8F8FA"
    >
      <TeamContent />
    </Section>
    <Footer />
  </main>
</Layout>
