---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import TestComp from '../components/test-comp';
---

<Layout title="Welcome to Astro.">
	<main>
    <TestComp />
    <div class="bg-red-500">test</div>
  </main>
</Layout>

<style>
</style>
