---
import Layout from '../layouts/Layout.astro';
import Section from '../components/section';
import Navbar from '../components/navbar';
import WelcomeContent from '../components/welcome-content';
import AboutContent from '../components/about-content';
---

<Layout title="Atix Digital">
  <main>
      <Section
        heightMode="screen"
        contentHeight="100%"
        background="backgrounds/welcome.png"
      >
        <Navbar />
        <WelcomeContent />
      </Section>
      <Section
        heightMode="auto"
        contentHeight="409px"
        background="backgrounds/dots.svg"
      >
        <AboutContent />
      </Section>
  </main>
</Layout>

<style>
</style>
