---
import Layout from '../layouts/Layout.astro';
import Section from '../components/section';
import Navbar from '../components/navbar';
import WelcomeContent from '../components/welcome-content';
import AboutContent from '../components/about-content';
import ProductsContent from '../components/products-content';
import FocusContent from '../components/focus-content';
---

<Layout title="Atix Digital">
  <main>
      <Section
        heightMode="h-screen"
        contentHeight="100%"
        background="backgrounds/welcome.png"
      >
        <Navbar />
        <WelcomeContent />
      </Section>
      <Section
        heightMode="h-auto"
        contentHeight="409px"
        background="backgrounds/dots.svg"
      >
        <AboutContent />
      </Section>
     <Section
        heightMode="h-fit"
        contentHeight="100%"
        background=""
     >
      <ProductsContent />
     </Section>
    <Section
      heightMode="h-screen"
      contentHeight="100%"
      background="backgrounds/focus-background.png"
    >
      <FocusContent />  
    </Section>
  </main>
</Layout>

<style>
</style>
