---
import Layout from "../layouts/Layout.astro";
import Section from "../components/shared/section";
import Navbar from "../components/navbar";
import Footer from "../components/footer";
import IntroContent from "../components/notery-components/intro-content";
import ProblemContent from "../components/notery-components/problem-content";
import WithNoteryContent from "../components/notery-components/withnotery-content";
import HowItWorksContent from "../components/notery-components/howitworks-content";
import TemplateContent from "../components/notery-components/template-content";
import ExtractionStatsContent from "../components/notery-components/extraction-stats-content";
---

<Layout title="Seiz">
  <main>
    <Section
      heightMode="h-screen"
      contentHeight="100%"
      background="backgrounds/notery-intro-background.png"
      additionalBg="images/notery-intro.png"
      additionalStyles={{
        backgroundSize: "contain",
        backgroundRepeat: "no-repeat",
        backgroundPositionX: "right",
        backgroundPositionY: "-80px"
      }}
    >
      <Navbar />
      <IntroContent />
    </Section>
    <Section
      heightMode="h-auto"
      contentHeight="100%"
      background="backgrounds/notery-problem-background.png"
      backgroundColor="#8D8DA8"
    >
      <ProblemContent />
    </Section>
    <Section
      heightMode="h-auto"
      contentHeight="100%"
      background="backgrounds/withnotery-background.png"
    >
      <WithNoteryContent />
    </Section>
    <Section
      heightMode="h-auto"
      contentHeight="100%"
      background=""
      backgroundColor="#F9F8FE" 
    >
      <HowItWorksContent />
    </Section>
    <Section
      heightMode="h-auto"
      contentHeight="100%"
      background="backgrounds/notery-template-background.png"
    >
      <TemplateContent />
    </Section>
    <Section
      heightMode="h-auto"
      contentHeight="100%"
      background="backgrounds/notery-problem-background.png"
      additionalBg="images/notery-extract.png"
      additionalStyles={{
        backgroundSize: "50%",
        backgroundRepeat: "no-repeat",
        backgroundPositionX: "right",
        backgroundPositionY: "20%"
      }}
    >
      <ExtractionStatsContent />
    </Section>
    <Footer />
  </main>
</Layout>
