---
import Layout from "../layouts/Layout.astro";
import Section from "../components/shared/section";
import Navbar from "../components/navbar";
import Footer from "../components/footer";
---

<Layout title="Seiz">
  <main>
    <Section
      heightMode="h-screen"
      contentHeight="100%"
      background="backgrounds/welcome.png"
    >
      <Navbar />
    </Section>
    <Footer />
  </main>
</Layout>
