---
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/shared/section";
import Navbar from "../../components/navbar";
import ContactContent from "../../components/contact-components/contact-content";
import Footer from "../../components/footer";
---

<style is:global>
  .contact-additional-bg {
    background-position: -324px -168px;
    background-repeat: no-repeat;
    background-size: 68% !important;
  }

  @media (max-width: 768px) {
    .contact-additional-bg {
      background-size: 250% !important;
      background-position-x: -540px;
      background-position-y: -100px;
    }
  }
</style>

<Layout title="Atix Digital">
  <main>
    <Section
      heightMode="h-auto"
      contentHeight="100%"
      background=""
      additionalBg="../../backgrounds/contact-figure.svg"
      additionalBgClassName="contact-additional-bg"
    >
      <Navbar mode="light" client:only="react" />
      <ContactContent client:only="react" />
    </Section>
    <Footer />
  </main>
</Layout>

<script is:inline>
  window.fwSettings = {
    widget_id: 151000003647,
  };
  !(function () {
    if ("function" != typeof window.FreshworksWidget) {
      var n = function () {
        n.q.push(arguments);
      };
      (n.q = []), (window.FreshworksWidget = n);
    }
  })();
</script>
<script
  is:inline
  type="text/javascript"
  src="https://widget.freshworks.com/widgets/151000003647.js"
  async
  defer></script>
