---
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/shared/section";
import Navbar from "../../components/navbar";
import WelcomeContent from "../../components/index-components/welcome-content";
import AboutContent from "../../components/index-components/about-content";
import ProductsContent from "../../components/index-components/products-content";
import FocusContent from "../../components/index-components/focus-content";
import MagicalContent from "../../components/index-components/magical-content";
import BrandContent from "../../components/index-components/brand-content";
import TrustedContent from "../../components/index-components/trusted-content";
import PublicationsContent from "../../components/index-components/publications-content";
import Footer from "../../components/footer";
---

<style is:global>
  .welcome-additional-bg {
    background-size: 80% !important;
    background-repeat: no-repeat;
    background-position-x: -300px;
    background-position-y: -120px;
  }

  .about-figure-bg {
    background-size: 74% !important;
    background-position-x: 485px;
    background-position-y: 80px;
    background-repeat: no-repeat;
  }

  @media (max-width: 768px) {
    .welcome-additional-bg {
      background-size: 250% !important;
      background-repeat: no-repeat;
      background-position-x: -450px;
      background-position-y: center;
    }

    .focus-background {
      background-image: none !important;
    }

    .about-figure-bg {
      background-size: 304% !important;
      background-position-x: -199px;
      background-position-y: 117px;
      background-repeat: no-repeat;
    }
  }
</style>

<Layout title="Atix Digital">
  <main id="viewport-wrapper">
    <Section
      heightMode="h-screen"
      contentHeight="100%"
      background="../../backgrounds/welcome-page-background.png"
      additionalBg="../../images/index-isotipo.svg"
      additionalBgClassName="welcome-additional-bg"
      client:load
    >
      <Navbar client:load />
      <WelcomeContent client:only="react" />
    </Section>
    <Section
      heightMode="h-auto"
      contentHeight="100%"
      background="../../backgrounds/index-about-dots.png"
      bgClassName="about-dots-background"
      additionalBg="../../images/index-about-figure.svg"
      additionalBgClassName="about-figure-bg"
    >
      <AboutContent />
    </Section>
    <Section
      heightMode="h-fit"
      contentHeight="100%"
      backgroundColor="#FCFCFC"
      background=""
    >
      <ProductsContent />
    </Section>
    <Section
      heightMode="h-auto"
      contentHeight="949px"
      background="../../backgrounds/focus-background.png"
      bgClassName="focus-background"
    >
      <FocusContent client:only="react" />
    </Section>
    <Section
      heightMode="h-auto"
      contentHeight="409px"
      background="../../images/CTA.png"
    >
      <MagicalContent client:only="react" />
    </Section>
    <Section heightMode="h-auto" contentHeight="270px" background="">
      <BrandContent />
    </Section>
    <Section
      heightMode="h-auto"
      contentHeight="100%"
      background=""
      backgroundColor="#F8F8FA"
    >
      <TrustedContent client:only="react" />
    </Section>
    <Section heightMode="h-auto" contentHeight="100%" background="">
      <PublicationsContent />
    </Section>
    <Footer client:load />
  </main>
</Layout>
