---
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/shared/section";
import Navbar from "../../components/navbar";
import Footer from "../../components/footer";
import IntroContent from "../../components/notery-components/intro-content";
import ProblemContent from "../../components/notery-components/problem-content";
import WithNoteryContent from "../../components/notery-components/withnotery-content";
import HowItWorksContent from "../../components/notery-components/howitworks-content";
import TemplateContent from "../../components/notery-components/template-content";
import ExtractionStatsContent from "../../components/notery-components/extraction-stats-content";
---

<style is:global>
  .notery-intro-additional-bg {
    background-size: 80% !important;
    background-repeat: no-repeat;
    background-position-x: -300px;
    background-position-y: -250px;
  }
</style>

<Layout title="Notery">
  <main>
    <Section
      heightMode="h-screen"
      contentHeight="100%"
      background="../../backgrounds/notery-intro-background.png"
      additionalBg="../../images/notery-intro-isotipo.svg"
      additionalBgClassName="notery-intro-additional-bg"
    >
      <Navbar client:load/>
      <IntroContent />
    </Section>
    <Section
      heightMode="h-auto"
      contentHeight="100%"
      background="../backgrounds/notery-problem-background.png"
      backgroundColor="#8D8DA8"
    >
      <ProblemContent client:only="react" />
    </Section>
    <Section
      heightMode="h-auto"
      contentHeight="100%"
      background="../backgrounds/withnotery-background.png"
    >
      <WithNoteryContent />
    </Section>
    <Section
      heightMode="h-auto"
      contentHeight="100%"
      background=""
      backgroundColor="#F9F8FE" 
    >
      <HowItWorksContent  client:only="react"/>
    </Section>
    <Section
      heightMode="h-auto"
      contentHeight="100%"
      background="../backgrounds/notery-template-background.png"
    >
      <TemplateContent />
    </Section>
    <Section
      heightMode="h-auto"
      contentHeight="100%"
      background="../backgrounds/notery-problem-background.png"
    >
      <ExtractionStatsContent client:load/>
    </Section>
    <Footer />
  </main>
</Layout>
