---
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/shared/section";
import Navbar from "../../components/navbar";
import Footer from "../../components/footer";
import WecomeContent from "../../components/seiz-components/welcome-seiz-content";
import StepsContent from "../../components/seiz-components/steps-content";
import SinseizContent from "../../components/seiz-components/sinseiz-content";
import BenefitsContent from "../../components/seiz-components/benefits-content";
import HowitworksContent from "../../components/seiz-components/howitworks-content";
import DocumentContent from "../../components/seiz-components/document-content";
import WhySeizContent from "../../components/seiz-components/whyseiz-content";
---

<style is:global>
  .sinseiz-additional-bg {
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: initial !important;
    background-position-y: center;
  }

  @media (max-width: 768px) {
    .seiz-welcome-bg {
      background-position-x: left !important;
    }
  }
</style>

<Layout title="Seiz">
  <main>
    <Section
      heightMode="h-auto"
      contentHeight="100%"
      background="../../backgrounds/seiz-background.png"
      bgClassName="seiz-welcome-bg"
    >
      <Navbar client:only="react" />
      <WecomeContent client:only="react" />
    </Section>
    <Section
      heightMode="h-auto"
      contentHeight="100%"
      background="../../backgrounds/seiz-dots-background.png"
      backgroundColor="#F4F4F4"
    >
      <StepsContent client:only="react" />
    </Section>
    <Section
      heightMode="h-auto"
      contentHeight="100%"
      background=""
      additionalBg="../../backgrounds/x-iso.png"
      additionalBgClassName="sinseiz-additional-bg"
    >
      <SinseizContent />
    </Section>
    <Section
      heightMode="h-auto"
      contentHeight="100%"
      background=""
      backgroundColor="#CCCCCC36"
    >
      <BenefitsContent client:only="react" />
    </Section>
    <Section
      heightMode="h-auto"
      contentHeight="100%"
      background="../../backgrounds/seiz-howitworks-background.png"
    >
      <HowitworksContent />
    </Section>
    <Section heightMode="h-auto" contentHeight="100%" background="">
      <DocumentContent client:only="react" />
    </Section>
    <Section
      heightMode="h-auto"
      contentHeight="100%"
      background=""
      backgroundColor="#B5C71515"
    >
      <WhySeizContent />
    </Section>
    <Footer />
  </main>
</Layout>
